@import "../../partials/variables";
@import "../../partials/_mixins";

.wine-gen-section {
  background-color: $section-background;
  color: $font;
  padding: 20px;
  height: auto;
}

.wine-gen-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.wine-gen-section-header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 2rem;
}

.wine-gen-section-title {
  font-size: $header-font-mobile;
  font-weight: bold;
  margin-bottom: 10px;
}

.wine-gen-section-text {
  font-size: $font-size-base;
  line-height: 1.6;
}

.wine-gen-divider {
  width: 50%;
  height: 2px;
  border-bottom: 1px solid $highlight-color;
  margin: 0 auto 20px auto;
}

.wine-gen-card {
  display: flex;
  flex-direction: column;
  background-color: $card-background;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 2rem;
  border: 1px solid $highlight-color;
}

.wine-gen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wine-gen-image {
  max-width: 200px;
}

.wine-gen-img {
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.wine-gen-details {
  text-align: center;
}

.wine-gen-name {
  width: 100%;
  max-width: 300px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: normal;
  word-wrap: break-word;
  color: $font;
  margin-top: 1rem;
}

.wine-gen-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.wine-gen-review-stats {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.wine-gen-rating-stats {
  display: flex;
  align-items: center;
}

.wine-gen-review-icon {
  width: 20px;
  height: 20px;
  stroke: $highlight-color;
  margin-right: 5px;
}

.wine-gen-review-text {
  color: $font;
}

.wine-gen-rating-text {
  color: $font;
}

.wine-gen-winery {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: $font;
  width: 100%;
  max-width: 300px;
  white-space: normal;
  word-wrap: break-word;
}

.wine-gen-type, .wine-gen-location {
  font-size: 1rem;
  margin-bottom: 5px;
  color: $font;
}

.wine-gen-button {
  background-color: $highlight-color;
  color: $font;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-bottom: 20px;
}

.wine-gen-button:hover {
  background-color: darken($highlight-color, 10%);
}

.wine-gen-select {
  padding: 10px;
  border: 1px solid $cement;
  border-radius: 4px;
  background-color: $font;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .wine-gen-section-title {
    font-size: $header-font-tablet;
  }

  .wine-gen-section-text {
    font-size: $font-size-mobile;
  }
  .wine-gen-content {
    flex-direction: row;
    justify-content: space-around
  }

  .wine-gen-image {
    margin-bottom: 0;
  }

  .wine-gen-details {
    text-align: left;
    width: 60%;
  }

  .wine-gen-name {
    max-width: 335px;
  }

  .wine-gen-winery {
    max-width: 335px;
  }

  .wine-gen-stats {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .wine-gen-button {
    display: flex;
  }
}

@media (min-width: 768px) {
  .wine-gen-section {
    
    padding: 50px;
   }
  .wine-gen-card {
    padding: 3rem;
  }
}

@media (min-width: 992px) {
  .wine-gen-section {
   padding: 50px;
  }
  .wine-gen-section-title {
    font-size: $header-font-desktop;
  }

  .wine-gen-section-text {
    font-size: $font-size-large;
  }

  .wine-gen-name {
    font-size: 2rem;
    max-width: 100%;
  }

  .wine-gen-winery {
    font-size: 1.75rem;
    max-width: 100%;
  }

  .wine-gen-type, .wine-gen-location {
    font-size: 1.25rem;
  }

  .wine-gen-button {
    font-size: 1.25rem;
  }
}
