@import "../../partials/variables";
@import "../../partials/_mixins";

.wines-section {
  background-color: #1a202c;
  color: #ffffff;
  padding: 20px;
  height: auto;
}

.wines-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.wines-section-header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 2rem;
}

.wines-section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.wines-section-text {
  font-size: 1.25rem;
  line-height: 1.6;
}

.wines-card {
  display: flex;
  flex-direction: column;
  background-color: #2d3748;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 2rem;
}

.wines-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wines-image {
  max-width: 200px;
}

.wines-img {
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.wines-details {
  text-align: center;
}

.wines-name {
  width: 100%;
  max-width: 300px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: normal;
  word-wrap: break-word;
  color: #ffffff;
}

.wines-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.wines-review-stats {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.wines-rating-stats {
  display: flex;
  align-items: center;
}

.wines-review-icon {
  width: 20px;
  height: 20px;
  stroke: #ff4d4f;
  margin-right: 5px;
}

.wines-review-text {
  color: #cbd5e0;
}

.wines-rating-text {
  color: #cbd5e0;
}

.wines-winery {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #cbd5e0;
  width: 100%;
  max-width: 300px;
  white-space: normal;
  word-wrap: break-word;
}

.wines-type, .wines-location {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #cbd5e0;
}

.wines-button {
  background-color: #805ad5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-bottom: 20px;
}

.wines-button:hover {
  background-color: #6b46c1;
}

.wines-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .wines-content {
    flex-direction: row;
    justify-content: space-around
  }

  .wines-image {
    margin-bottom: 0;
  }

  .wines-details {
    text-align: left;
    width: 70%;
  }

  .wines-name {
    max-width: 335px;
  }
  .wines-windery {
    max-width: 335px;
  }
  .wines-stats {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  
  }
  .wines-button {
    display: flex;
  }
}

@media (min-width: 768px) {
  .wines-card {
    padding: 3rem;
  }
}

@media (min-width: 992px) {
  .wines-section-title {
    font-size: 3rem;
  }

  .wines-section-text {
    font-size: 1.5rem;
  }

  .wines-name {
    font-size: 2.5rem;
    max-width: 100%;
  }

  .wines-winery {
    font-size: 1.75rem;
    max-width: 100%;
  }

  .wines-type, .wines-location {
    font-size: 1.25rem;
  }

  .wines-button {
    font-size: 1.25rem;
  }
}
