@import "../../partials/variables";
@import "../../partials/_mixins";

.wine-section {
  background-color: #1a202c;
  color: #ffffff;
  padding: 40px 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-text {
  font-size: 1.25rem;
  line-height: 1.6;
}

.wine-card {
  display: flex;
  flex-direction: column;
  background-color: #2d3748;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 2rem;
}

.wine-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wine-image {
//   width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.wine-img {
    max-width: 300px;
    height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.wine-details {
  text-align: center;
}

.wine-name {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.wine-stats {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.review-stats {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.rating-stats {
  display: flex;
  align-items: center;
}

.review-icon {
  width: 20px;
  height: 20px;
  stroke: #ff4d4f;
  margin-right: 5px;
}

.review-text {
  color: #cbd5e0;
}

.rating-text {
  color: #cbd5e0;
}

.winery {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #cbd5e0;
}

.type, .location {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #cbd5e0;
}

.wine-button {
  background-color: #805ad5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-bottom: 20px;
}

.wine-button:hover {
  background-color: #6b46c1;
}

.wine-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .wine-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .wine-image {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .wine-details {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .wine-card {
    padding: 3rem;
  }
}

@media (min-width: 992px) {
  .section-title {
    font-size: 3rem;
  }

  .section-text {
    font-size: 1.5rem;
  }

  .wine-name {
    font-size: 2.5rem;
  }

  .winery {
    font-size: 1.75rem;
  }

  .type, .location {
    font-size: 1.25rem;
  }

  .wine-button {
    font-size: 1.25rem;
  }
}