@import "../../partials/variables";
@import "../../partials/_mixins";

.nav {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid $divider;
}

.nav-bar nav-link {
    padding: 0 2rem;
    margin: 0;
    color: $font;

    &:hover {
        color: $highlight-color;
    }
}

#basic-nav-dropdown {
    color: $font;
}

.navbar-toggler-icon {
    background-color: $highlight-color;
    border-radius: 5px;
    padding: 0.25rem;

    &:hover {
        color: $highlight-color;
        padding: 0;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $font ;
    padding: 0 2rem;
    margin: 0;

    &:hover {
        color: $highlight-color;
    }
}

.navbar-nav .dropdown-menu {
    margin: 1.5em;
    background-color: $primary-color;
    border-top: 1px solid $divider;
    color: $font;

}

.dropdown-menu {
    background-color: $primary-color;
    border-top: 1px solid $divider;
    color: $font;
}

.dropdown-item {
    color: $font !important;
    border-bottom: 1px solid $divider;
    padding: 0.5rem 1rem;
    margin: 0;
    transition: background-color $transition-speed $transition-ease;

    &:hover {
        background-color: $highlight-color;
    }
}

