@import "../../partials/variables";
@import "../../partials/_mixins";

.wine-section {
  background-color: $section-background;
  color: $font;
  padding: 2rem 0;

  .container {
    max-width: 900px;

    margin: 0 auto;
    padding: 1rem;

    header.wines-section-header {
      text-align: center;
      margin-bottom: 2rem;

      .wines-section-title {
        font-size: 2.5rem;
        font-weight: bold;
        color: $font;
      }

      .wines-section-text {
        font-size: 1.2rem;
        color: darken($font, 20%);
      }
    }

    .wines-section-wines {
      font-size: 1.5rem;
      color: $font;
    }

    .media {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $card-background;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 2rem;

      .media-body {
        text-align: center;

        .card-subtitle {
          font-size: $font-size-base;
          color: $font;
          margin-top: 0.5rem;
        }

        .card-review {
          margin-top: 1rem;
          color: $font;
          font-size: $font-size-base;
          text-align: left;
        }

        .card-text {
          font-size: $font-size-base;
          color: $font;
          margin-top: 0.5rem;
        }

        .card-reviews {
          margin-top: 1rem;
          color: $font
        }

        .card-reviews__name {
          font-size: $font-size-base;
        }

        .card-reviews__review {
          font-size: $font-size-base;
          text-align: left;
        }


        .btn {
          margin-top: 1rem;
          background-color: $highlight-color;
          color: white;
          border: none;
          padding: 0.5rem 1rem;
          border-radius: 4px;
          cursor: pointer;
          text-decoration: none;

          a {
            color: white;
            text-decoration: none;

            &:hover {
              color: $highlight-color;
            }
          }

          &:hover {
            background-color: darken($highlight-color, 10%);
          }
        }
 

@media (min-width: 576px) {
  .card-subtitle {
    font-size: $font-size-mobile;
  }

  .card-text {
    font-size: $font-size-mobile;
  }

  .card-review {
    font-size: $font-size-mobile;
  }
}
@media (min-width: 992px) {
  .card-subtitle {
    font-size: $font-size-tablet;
  }

  .card-text {
    font-size: $font-size-tablet;
  }

  .card-reviews__name {
    font-size: $font-size-tablet;
  }

  .card-reviews__review {
    font-size: $font-size-tablet;
  }

  .card-review {
    font-size: $font-size-tablet;
  }
}

}
}
}
}