@import "../../partials/variables";
@import "../../partials/mixins";

.wine-section {
    padding: 80px 0;
  }
  
  .form-subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: $font;
  }
  
  .card {
    border: none;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .form-control {
    border-radius: 5px;
  }
  
  
  @media (max-width: 768px) {
    .card-body {
      padding: 1.5rem;
    }
  }
  