@import "../../partials/variables";
@import "../../partials/_mixins";

.contact {
    margin: 0, auto;
    background-color: $section-background;
    color: $font;
  

    &-name {
    margin: 0;
    @include Copy;
    color: $font;

        @include tablet {
        @include deskCopy;
        }

        @include desktop {
        @include deskHeader;
        }
    }

    &-review {
    @include bodyCopy;
    color: $font;
  
 

        @include tablet {
        @include deskCopy;
        }

        @include desktop {
        @include deskHeader;
        }
    }

    &-input {
    border-bottom: 1px solid $divider;
    padding-bottom: 1.3125rem;
    }

}